
body {
	background: #f2f3f4;
}

/*无订单*/
.cart_icon {
	display: block;
	margin: 2.9rem auto .6rem;
	width: 4rem;
	height: 2.86rem;
}
.status_desc {
	font-size: .3rem;
	color: #a3a5ad;
	text-align: center;
}
.goto_mall_btn {
	width: 3.6rem;
	height: .7rem;
	margin: 1.2rem auto 0;
	border: 1px solid #ff533b;
	border-radius: .1rem;
	-webkit-border-radius: .1rem;
	-moz-border-radius: .1rem;
	-o-border-radius: .1rem;
	font-size: .32rem;
	color: #ff533b;
	text-align: center;
	line-height: .7rem;
}


/*有订单*/
.remind {
	height: .8rem;
	padding: 0 .3rem;
	line-height: .8rem;
	background: #fff4f2;
	font-size: .24rem;
	color: #333;
}
.cart_list_item {
	position: relative;
	background: #fff;
	margin-bottom: .2rem;
}

.shop_base_info {
	padding: .35rem .3rem .25rem;
}

.cart_list_item .shop_img {
	width: 1.52rem;
	height: 1.52rem;
	margin-right: .2rem;
}
.cart_list_item .shop_img img {
	width: 100%;
	height: 100%;
}

.cart_list_item .shop_title {
	font-size: .28rem;
	line-height: .44rem;
	color: #333;
}
.shop_info_box .format {
	font-size: .2rem;
	color: #666;
	line-height: .44rem;
}
.cart_list_item .num_box {
	line-height: .44rem;
	border-radius: .06rem;
	-webkit-border-radius: .06rem;
	-moz-border-radius: .06rem;
	-o-border-radius: .06rem;
	border: 1px solid #d8d8d8;
}
.cart_list_item .num_box img {
	width: .11rem;
	height: .2rem;
	margin-left: .15rem;
	margin-right: .15rem;
}
.cart_list_item .num_box span {
	font-size: .2rem;
	color: #333;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	padding: 0 .15rem;
}

.shop_info_box .customize {
	width: 1rem;
	height: .44rem;
	margin-left: .2rem;
	border-radius: .06rem;
	-webkit-border-radius: .06rem;
	-moz-border-radius: .06rem;
	-o-border-radius: .06rem;
	border: 1px solid #d8d8d8;
	font-size: .2rem;
	color: #666;
	text-align: center;
	line-height: .44rem;
	outline: none;
}

.num_remark {
	padding: 0 .3rem;
	line-height: .8rem;
	border-top: 1px solid #ececec;
}

.weui-swiped-btn {
	padding: 0;
	width: 1.48rem;
	line-height: 3.12rem;
	text-align: center;
	font-size: .24rem;
	letter-spacing: 1px;
}


/*底部*/
.cart_bottom_box {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: .98rem;
	background: #fff;
	z-index: 5;
}
.cart_bottom_box > label {
	position: relative;
	margin-left: .3rem;
	font-size: .28rem;
	color: #999;
}
.cart_bottom_box > label input {
	position: absolute;
	opacity: 0;
}
.cart_bottom_box > label i::before {
	margin: 0;
	margin-right: .3rem;
}
.cart_bottom_box .submit_order_btn {
	width: 2.26rem;
	line-height: .98rem;
	text-align: center;
	font-size: .28rem;
	color: #fff;
	background: #ff533b;
}