
body {
	background: #f2f3f4;
}

/*列表*/
.authorize_items {
	margin: .2rem .3rem 0;
	padding: .4rem .3rem;
	background: #fff;
	border-radius: .12rem;
	-webkit-border-radius: .12rem;
	-moz-border-radius: .12rem;
	-o-border-radius: .12rem;
}

.img_text_box .av_img {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: .2rem;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	background: #ededed;
}

.accept_btn {
	margin-left: .4rem;
	line-height: .4rem;
	font-size: .28rem;
	color: #333;
}