
.search_top_box {
	height: 1rem;
	background: #fff;
	padding: 0 .3rem;
}

.search_lf_box {
	flex: 1;
	height: .6rem;
	padding: 0 .3rem;
	background: #f2f3f4;
	border-radius: .3rem;
	-webkit-border-radius: .3rem;
	-moz-border-radius: .3rem;
	-o-border-radius: .3rem;
}

.search_lf_box img {
	width: .24rem;
	height: .24rem;
	margin-right: .1rem;
}

.search_lf_box span {
	position: relative;
	padding: .03rem .3rem;
	font-size: .24rem;
	color: #fff;
	background: #9a9a9a;
	line-height: .4rem;
	border-radius: .2rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	-o-border-radius: .2rem;
}
.search_lf_box span::after {
	position: absolute;
	top: 0;
	right: .1rem;
	display: block;
	content: 'x';
	font-size: .24rem;
	color: red;
}

.search_lf_box .search_ipt {
	flex: 1;
	font-size: .24rem;
	color: #333;
	line-height: .6rem;
	background: transparent;
	border: none;
	outline: none;
}

.search_top_box .cancel {
	font-size: .2rem;
	color: #999;
	padding-left: .2rem;
	line-height: .6rem;
}

.search_tit span {
	font-size: .32rem;
	color: #333;
}

.search_tit img {
	width: .3rem;
	height: .3rem;
	padding: .1rem;
}

.search_txt_box {
	list-style: none;
	margin-bottom: .15rem;
}

.search_txt_box li {
	margin: .3rem .13rem 0;
	background: #f7f7f7;
	line-height: .5rem;
	border-radius: .25rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	-o-border-radius: .25rem;
	padding: 0 .3rem;
	font-size: .24rem;
	color: #333;
}


/*搜索商品*/
.search_shop_list {
	padding: .1rem .1rem 1.06rem;
}
.shop_item {
	width: 50%;
	padding: 0 .1rem;
	margin-bottom: .15rem;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.shop_item_cont {
	padding-bottom: .15rem;
	border: 1px solid #cecece;
}

.shop_img {
	width: 100%;
	height: 3.45rem;
}

.shop_img img {
	width: 100%;
	height: 100%;
}

.shop_name {
	font-size: .28rem;
	color: #333;
	line-height: .44rem;
	margin-top: .2rem;
	margin-bottom: .1rem;
}

.add_btn_icon {
	width: .32rem;
	height: .32rem;
}

.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
	color: #ff533b;
}

.weui-tabbar .weui-tabbar__item:nth-child(1) .weui-tabbar__icon {
	background: url('../images/tabbar_home_normal.png') no-repeat;
	background-position: center;
	background-size: 100%;
}
.weui-tabbar .weui-tabbar__item.weui-bar__item--on:nth-child(1) .weui-tabbar__icon {
	background: url('../images/tabbar_home_selected.png') no-repeat;
	background-position: center;
	background-size: 100%;
}
.weui-tabbar .weui-tabbar__item:nth-child(2) .weui-tabbar__icon {
	background: url('../images/tabbar_category_normal.png') no-repeat;
	background-position: center;
	background-size: 100%;
}
.weui-tabbar .weui-tabbar__item.weui-bar__item--on:nth-child(2) .weui-tabbar__icon {
	background: url('../images/tabbar_category_selected.png') no-repeat;
	background-position: center;
	background-size: 100%;
}
.weui-tabbar .weui-tabbar__item:nth-child(3) .weui-tabbar__icon {
	background: url('../images/tabbar_cart_normal.png') no-repeat;
	background-position: center;
	background-size: 100%;
}
.weui-tabbar .weui-tabbar__item.weui-bar__item--on:nth-child(3) .weui-tabbar__icon {
	background: url('../images/tabbar_cart_selected.png') no-repeat;
	background-position: center;
	background-size: 100%;
}
.weui-tabbar .weui-tabbar__item:nth-child(4) .weui-tabbar__icon {
	background: url('../images/tabbar_my_normal.png') no-repeat;
	background-position: center;
	background-size: 100%;
}
.weui-tabbar .weui-tabbar__item.weui-bar__item--on:nth-child(4) .weui-tabbar__icon {
	background: url('../images/tabbar_my_selected.png') no-repeat;
	background-position: center;
	background-size: 100%;
}